GITHUB_TOKEN=your_github_personal_access_token
GITHUB_ORG_NAME=your_github_organization_name
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
RECEIVER_EMAIL=receiver1@example.com,receiver2@example.com
